#file .\adm\include.asn

[SETTINGS]
$putmess_logfile	.\log\idf-%p.log
$transcript_logfile	.\log\idf-%p.log

[RESOURCES]
<uniface_packages_path>VersionControl9703\VersionControl.uar
<uniface_packages_path>MetaTools\MetaTools.uar

#file .\adm\vc.asn
