[SERVERS]
; For <project_name> project Development
<project_name>	= "<uniface_path>common\bin\userver.exe" /dir=<project_path> /adm=<project_path>adm /asn=<project_name>.asn
<project_name>dbg	= "<uniface_path>common\bin\userver.exe" /dir=<project_path> /adm=<project_path>adm /asn=<project_name>.asn /max=1 /deb=<udbg_machine>+<udbg_port>:wait
